<xf:title>{{ phrase('sylphian_map_export_map_data') }}</xf:title>

<xf:form action="{{ link('sylphian_map/export') }}" class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:radiorow name="format" value="json" label="{{ phrase('sylphian_map_export_format') }}">
                <xf:option value="json">JSON</xf:option>
                <xf:option value="sql">SQL</xf:option>
            </xf:radiorow>
        </div>
        <xf:submitrow icon="export" submit="{{ phrase('export') }}" />
    </div>
</xf:form>