<xf:title>{{ phrase('sylphian_map_marker_suggestions') }}</xf:title>

<div class="block">
    <div class="block-container">
        <div class="block-body">
            <xf:if is="$pendingSuggestions">
                <xf:datalist>
                    <xf:datarow rowtype="header">
                        <xf:cell>{{ phrase('title') }}</xf:cell>
                        <xf:cell>{{ phrase('type') }}</xf:cell>
                        <xf:cell>{{ phrase('icon') }}</xf:cell>
                        <xf:cell>{{ phrase('position') }}</xf:cell>
                        <xf:cell>{{ phrase('sylphian_map_suggested_by') }}</xf:cell>
                        <xf:cell>{{ phrase('sylphian_map_suggestion_date') }}</xf:cell>
                        <xf:cell></xf:cell>
                    </xf:datarow>
            
                    <xf:foreach loop="$pendingSuggestions" value="$suggestion">
                        <xf:datarow>
                            <xf:main label="{{ $suggestion.title }}" />
                            <xf:cell>{{ $suggestion.type }}</xf:cell>
                            <xf:cell>
                                <xf:fa icon="fa-{{ $suggestion.icon }}" fw="true" /> 
                            </xf:cell>
                            <xf:cell>
                                <span title="{{ $suggestion.lat }}, {{ $suggestion.lng }}">
                                    <xf:fa icon="fa-map-marker-alt" /> {{ $suggestion.lat | number(4) }}, {{ $suggestion.lng | number(4) }}
                                </span>
                            </xf:cell>
                            <xf:cell>
                                <xf:if is="$suggestion.User">
                                    <xf:username user="$suggestion.User" />
                                <xf:else />
                                    {{ phrase('unknown') }}
                                </xf:if>
                            </xf:cell>
                            <xf:cell>
                                {{ date($suggestion.create_date, 'M j, Y g:i A') }}
                            </xf:cell>
							<xf:action href="{{ link('map/process-suggestion', null, {'suggestion_id': $suggestion.suggestion_id}) }}" 
									 overlay="true"
									 title="{{ phrase('sylphian_map_process_suggestion') }}">
								<xf:fa icon="far fa-cog" />
							</xf:action>
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            <xf:else />
                <div class="block-row">
                    {{ phrase('sylphian_map_no_pending_marker_suggestions') }}
                </div>
            </xf:if>
        </div>
    </div>
</div>

<div style="display: flex; justify-content: center;">
	<xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}" 
				link="map/suggestion" 
				params="{$pageNavParams}"/>
</div>