<xf:title>{{ phrase_dynamic($processTitle) }}</xf:title>

<xf:form action="{{ link($actionType == 'approve' ? 'map/approve-suggestion' : 'map/reject-suggestion', null, {'suggestion_id': $suggestion.suggestion_id}) }}" class="block" ajax="true">
    <div class="block-container">
        <h2 class="block-tabHeader tabs" data-xf-init="tabs" role="tablist">
            <a class="tabs-tab is-active" role="tab" tabindex="0" aria-controls="detailsTab">{{ phrase('details') }}</a>
            <a class="tabs-tab" role="tab" tabindex="0" aria-controls="appearanceTab">{{ phrase('appearance') }}</a>
            <a class="tabs-tab" role="tab" tabindex="0" aria-controls="locationTab">{{ phrase('location') }}</a>
        </h2>

        <ul class="tabPanes">
            <!-- Details Tab -->
            <li class="is-active" role="tabpanel" id="detailsTab">
                <div class="block-body">
                    <xf:formrow label="{{ phrase('title') }}">
                        {{ $suggestion.title }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('content') }}">
                        {{ $suggestion.content ?: phrase('none') }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('type') }}">
                        {{ $suggestion.type ?: phrase('none') }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('suggested_by') }}">
                        <xf:if is="$suggestion.User">
                            <xf:username user="$suggestion.User" />
                        <xf:else />
                            {{ phrase('unknown') }}
                        </xf:if>
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('suggested_on') }}">
                        {{ date($suggestion.create_date, 'M j, Y g:i A') }}
                    </xf:formrow>
					
					<xf:checkboxrow>
						<xf:option name="create_thread" value="1"
								  label="{{ phrase('create_thread_for_marker') }}"
								  checked="{{$suggestion.create_thread}}"
								  readonly="true" />
					</xf:checkboxrow>
					
					<xf:checkboxrow>
						<xf:option name="thread_lock" value="1"
								  label="{{ phrase('lock_thread_replies') }}"
								  checked="{{$suggestion.thread_lock}}"
								  readonly="true" />
					</xf:checkboxrow>
                    
                    <xf:if is="$actionType == 'reject'">
                        <xf:formrow rowtype="explainRow">
                            <div class="blockMessage blockMessage--warning">
                                {{ phrase('reject_marker_warning') }}
                            </div>
                        </xf:formrow>
                    </xf:if>
                </div>
            </li>
            
            <!-- Appearance Tab -->
            <li role="tabpanel" id="appearanceTab">
                <div class="block-body">
                    <xf:formrow label="{{ phrase('icon') }}">
                        <div class="iconPreview">
                            <span class="iconContainer" style="background-color: {{ $suggestion.marker_color }}; color: {{ $suggestion.icon_color }}; display: inline-block; width: 30px; height: 30px; border-radius: 50%; text-align: center; line-height: 30px;">
                                <xf:fa icon="fa-{{ $suggestion.icon ?: 'map-marker-alt' }}" fw="true" />
                            </span>
                            {{ $suggestion.icon ?: phrase('default') }}
                        </div>
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('icon_variant') }}">
                        {{ $suggestion.icon_var ?: 'solid' }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('icon_color') }}">
                        <div style="display: flex; align-items: center;">
                            <div style="width: 20px; height: 20px; background-color: {{ $suggestion.icon_color }}; border-radius: 3px; margin-right: 10px;"></div>
                            {{ $suggestion.icon_color }}
                        </div>
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('marker_color') }}">
                        <div style="display: flex; align-items: center;">
                            <div style="width: 20px; height: 20px; background-color: {{ $suggestion.marker_color }}; border-radius: 3px; margin-right: 10px;"></div>
                            {{ $suggestion.marker_color }}
                        </div>
                    </xf:formrow>
                </div>
            </li>
            
            <!-- Location Tab -->
            <li role="tabpanel" id="locationTab">
                <div class="block-body">
                    <xf:formrow label="{{ phrase('latitude') }}">
                        {{ $suggestion.lat }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('longitude') }}">
                        {{ $suggestion.lng }}
                    </xf:formrow>
                    
                    <xf:formrow label="{{ phrase('preview') }}">
                        <div class="mapPreviewContainer" style="height: 300px; width: 100%;" data-lat="{{ $suggestion.lat }}" data-lng="{{ $suggestion.lng }}" data-icon="{{ $suggestion.icon }}" data-icon-var="{{ $suggestion.icon_var }}" data-icon-color="{{ $suggestion.icon_color }}" data-marker-color="{{ $suggestion.marker_color }}" data-title="{{ $suggestion.title }}">
                            <div id="suggestionMapPreview" data-xf-init="sylphian-map-preview" style="height: 100%; width: 100%;"></div>
                        </div>
                    </xf:formrow>
                </div>
            </li>
        </ul>
		
        <xf:submitrow sticky="true" 
                      icon="{{ $actionType == 'approve' ? 'check' : 'delete' }}"/>
    </div>
</xf:form>

<xf:css src="public:leaflet.less" />
<xf:js src="sylphian/map/leaflet/leaflet.js" min="1" addon="Sylphian/Map" />
<xf:css src="public:leaflet_awesome_markers.less" />
<xf:js src="sylphian/map/leaflet/leaflet.awesome-markers.js" min="1" addon="Sylphian/Map" />

<xf:js src="sylphian/map/suggestion-process.js" min="1" addon="Sylphian/Map" />